In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('final_data.csv')

In [3]:
data.head()

,Unnamed: 0,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,Pts Max,Share,Team,W,L,W/L%,GB,PS/G,PA/G,SRS
0,0,A.C. Green,PF,27,LAL,82,21,26.4,3.1,6.6,...,0.0,0.0,Los Angeles Lakers,58,24,0.707,5.0,106.3,99.6,6.73
1,1,Byron Scott,SG,29,LAL,82,82,32.1,6.1,12.8,...,0.0,0.0,Los Angeles Lakers,58,24,0.707,5.0,106.3,99.6,6.73
2,2,Elden Campbell,PF,22,LAL,52,0,7.3,1.1,2.4,...,0.0,0.0,Los Angeles Lakers,58,24,0.707,5.0,106.3,99.6,6.73
3,3,Irving Thomas,PF,25,LAL,26,0,4.2,0.7,1.9,...,0.0,0.0,Los Angeles Lakers,58,24,0.707,5.0,106.3,99.6,6.73
4,4,James Worthy,SF,29,LAL,78,74,38.6,9.2,18.7,...,0.0,0.0,Los Angeles Lakers,58,24,0.707,5.0,106.3,99.6,6.73

In [4]:
del data['Unnamed: 0']

In [5]:
data.isna().sum()

Player        0
Pos           0
Age           0
Tm            0
G             0
GS            0
MP            0
FG            0
FGA           0
FG%          50
3P            0
3PA           0
3P%        2042
2P            0
2PA           0
2P%          84
eFG%         50
FT            0
FTA           0
FT%         462
ORB           0
DRB           0
TRB           0
AST           0
STL           0
BLK           0
TOV           0
PF            0
PTS           0
Year          0
Pts Won       0
Pts Max       0
Share         0
Team          0
W             0
L             0
W/L%          0
GB            0
PS/G          0
PA/G          0
SRS           0
dtype: int64

In [6]:
data[data.isna()['3P%']][['Player', '3PA']]

                 Player  3PA
2        Elden Campbell  0.0
3         Irving Thomas  0.0
18           Jack Haley  0.0
20          Keith Owens  0.0
30      Benoit Benjamin  0.0
...                 ...  ...
14061    Evan Eschmeyer  0.0
14062  Gheorghe Mureșan  0.0
14064     Jim McIlvaine  0.0
14070  Mark Hendrickson  0.0
14071      Michael Cage  0.0

[2042 rows x 2 columns]

In [7]:
data[data.isna()['FT%']][['Player', 'FTA']]

                Player  FTA
77          John Coker  0.0
92        Jason Sasser  0.0
103    Adrian Caldwell  0.0
119       Bruno Šundov  0.0
158     Jamal Robinson  0.0
...                ...  ...
13951    Mark McNamara  0.0
13979      Luke Zeller  0.0
14032      Myron Brown  0.0
14054      Malcolm Lee  0.0
14088      Steve Novak  0.0

[462 rows x 2 columns]

In [8]:
data = data.fillna(0)

In [9]:
data.columns

Index(['Player', 'Pos', 'Age', 'Tm', 'G', 'GS', 'MP', 'FG', 'FGA', 'FG%', '3P',
       '3PA', '3P%', '2P', '2PA', '2P%', 'eFG%', 'FT', 'FTA', 'FT%', 'ORB',
       'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS', 'Year',
       'Pts Won', 'Pts Max', 'Share', 'Team', 'W', 'L', 'W/L%', 'GB', 'PS/G',
       'PA/G', 'SRS'],
      dtype='object')

In [10]:
ind_vars = ['Age', 'G', 'GS', 'MP', 'FG', 'FGA', 'FG%', '3P',
       '3PA', '3P%', '2P', '2PA', '2P%', 'eFG%', 'FT', 'FTA', 'FT%', 'ORB',
       'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS', 'Year',
        'W', 'L', 'W/L%', 'GB', 'PS/G',
       'PA/G', 'SRS']

In [11]:
train = data[data['Year'] < 2021]

In [12]:
test = data[data['Year'] == 2021]

In [13]:
from sklearn.linear_model import Ridge

reg = Ridge(alpha=0.1)

In [14]:
reg.fit(train[ind_vars], train['Share'])

Ridge(alpha=0.1)

In [15]:
pred = reg.predict(test[ind_vars])

In [16]:
pred = pd.DataFrame(pred, columns=['predictions'], index=test.index)

In [17]:
pred

       predictions
630       0.013567
631      -0.013756
632       0.002414
633      -0.004421
634       0.010734
...            ...
13897    -0.012571
13898    -0.011575
13899     0.016424
13900    -0.020434
13901    -0.005421

[540 rows x 1 columns]

In [18]:
combine = pd.concat([test[['Player', 'Share']], pred], axis=1)

In [19]:
combine

                       Player  Share  predictions
630              Aaron Gordon    0.0     0.013567
631             Austin Rivers    0.0    -0.013756
632                   Bol Bol    0.0     0.002414
633          Facundo Campazzo    0.0    -0.004421
634          Greg Whittington    0.0     0.010734
...                       ...    ...          ...
13897             Patty Mills    0.0    -0.012571
13898  Quinndary Weatherspoon    0.0    -0.011575
13899                Rudy Gay    0.0     0.016424
13900               Tre Jones    0.0    -0.020434
13901              Trey Lyles    0.0    -0.005421

[540 rows x 3 columns]

In [20]:
combine.sort_values('Share', ascending=False).head(10)

                      Player  Share  predictions
641             Nikola Jokić  0.961     0.154306
8624             Joel Embiid  0.580     0.162713
3651           Stephen Curry  0.449     0.142386
9907   Giannis Antetokounmpo  0.345     0.207436
1389              Chris Paul  0.138     0.072293
10997            Luka Dončić  0.042     0.151430
7464          Damian Lillard  0.038     0.116303
3536           Julius Randle  0.020     0.088877
3531            Derrick Rose  0.010     0.033001
11358            Rudy Gobert  0.008     0.095350

In [21]:
from sklearn.metrics import mean_squared_error

mean_squared_error(combine['Share'], combine['predictions'])

0.002666896001382872

In [22]:
combine['Share'].value_counts()

0.000    525
0.001      3
0.961      1
0.138      1
0.010      1
0.020      1
0.449      1
0.005      1
0.038      1
0.003      1
0.580      1
0.345      1
0.042      1
0.008      1
Name: Share, dtype: int64

In [23]:
combine = combine.sort_values('Share', ascending=False)
combine['Rank'] = list(range(1, combine.shape[0]+1))

In [24]:
combine.head(10)

                      Player  Share  predictions  Rank
641             Nikola Jokić  0.961     0.154306     1
8624             Joel Embiid  0.580     0.162713     2
3651           Stephen Curry  0.449     0.142386     3
9907   Giannis Antetokounmpo  0.345     0.207436     4
1389              Chris Paul  0.138     0.072293     5
10997            Luka Dončić  0.042     0.151430     6
7464          Damian Lillard  0.038     0.116303     7
3536           Julius Randle  0.020     0.088877     8
3531            Derrick Rose  0.010     0.033001     9
11358            Rudy Gobert  0.008     0.095350    10

In [25]:
combine = combine.sort_values('predictions', ascending=False)
combine['pred_rank'] = list(range(1, combine.shape[0]+1))

In [26]:
combine.head(10)

                      Player  Share  predictions  Rank  pred_rank
9907   Giannis Antetokounmpo  0.345     0.207436     4          1
8624             Joel Embiid  0.580     0.162713     2          2
641             Nikola Jokić  0.961     0.154306     1          3
10997            Luka Dončić  0.042     0.151430     6          4
3736            LeBron James  0.001     0.147512    15          5
3651           Stephen Curry  0.449     0.142386     3          6
4177            Kevin Durant  0.000     0.141350   531          7
4174            James Harden  0.001     0.140598    13          8
11784        Zion Williamson  0.000     0.127926   251          9
3876       Russell Westbrook  0.005     0.120227    11         10

In [27]:
def find_abs(combine):
    actual = combine.sort_values('Share', ascending=False).head()
    pred = combine.sort_values('predictions', ascending=False)
    ps = []
    found = 0
    seen = 1
    for index, row in pred.iterrows():
        if row['Player'] in actual['Player'].values:
            found += 1
            ps.append(found/seen)
        seen += 1
    return sum(ps)/len(ps)

In [28]:
find_abs(combine)

0.7636363636363636

In [29]:
years = list(range(1991, 2022))
aps = []
all_predictions = []

for year in years[5:]:
    train = data[data['Year'] < year]
    test = data[data['Year'] == year]
    
    reg.fit(train[ind_vars], train['Share'])
    pred = reg.predict(test[ind_vars])
    pred = pd.DataFrame(pred, columns=['predictions'], index=test.index)
    combine = pd.concat([test[['Player', 'Share']], pred], axis=1)
    all_predictions.append(combine)
    aps.append(find_abs(combine))

In [30]:
def add_rank(combine):
    combine = combine.sort_values('Share', ascending=False)
    combine['Rank'] = list(range(1, combine.shape[0]+1))
    combine = combine.sort_values('predictions', ascending=False)
    combine['pred_rank'] = list(range(1, combine.shape[0]+1))
    combine['diff'] = combine['Rank'] - combine['pred_rank']
    return combine

In [31]:
add_rank(all_predictions[1])

                 Player  Share  predictions  Rank  pred_rank  diff
12549  Shaquille O'Neal  0.006     0.198202    10          1     9
1600        Karl Malone  0.857     0.192318     1          2    -1
10524    Michael Jordan  0.832     0.167629     2          3    -1
11986   Hakeem Olajuwon  0.083     0.136357     7          4     3
9843     David Robinson  0.000     0.131089    36          5    31
...                 ...    ...          ...   ...        ...   ...
13143     Eric Montross  0.000    -0.043824   164        437  -273
4926     Pervis Ellison  0.000    -0.047037   423        438   -15
10389      Popeye Jones  0.000    -0.048904   199        439  -240
10518     Dennis Rodman  0.000    -0.054609   191        440  -249
6792      Melvin Booker  0.000    -0.055185   341        441  -100

[441 rows x 6 columns]

In [32]:
ranking = add_rank(all_predictions[1]).sort_values('diff', ascending=False)

In [33]:
ranking[ranking['Rank'] <= 5]

               Player  Share  predictions  Rank  pred_rank  diff
1600      Karl Malone  0.857     0.192318     1          2    -1
10524  Michael Jordan  0.832     0.167629     2          3    -1
908        Grant Hill  0.327     0.128646     3          6    -3
4682     Tim Hardaway  0.207     0.059984     4         20   -16
8248        Glen Rice  0.117     0.033110     5         53   -48

In [34]:
def backtest(data, model, year, predictor):
    aps = []
    all_predictions = []

    for year in years[5:]:
        train = data[data['Year'] < year]
        test = data[data['Year'] == year]

        model.fit(train[predictor], train['Share'])
        pred = model.predict(test[predictor])
        pred = pd.DataFrame(pred, columns=['predictions'], index=test.index)
        combine = pd.concat([test[['Player', 'Share']], pred], axis=1)
        combine = add_rank(combine)
        all_predictions.append(combine)
        aps.append(find_abs(combine))
        
    return sum(aps)/len(aps), aps, pd.concat(all_predictions)

In [35]:
mean_aps, aps, all_predictions = backtest(data, reg, years[5:], ind_vars)

In [36]:
mean_aps

0.7112884360789578

In [37]:
all_predictions.head()

                 Player  Share  predictions  Rank  pred_rank  diff
7364   Shaquille O'Neal  0.056     0.213818     9          1     8
9830     David Robinson  0.508     0.211326     2          2     0
4952    Hakeem Olajuwon  0.211     0.204628     4          3     1
1590        Karl Malone  0.075     0.181606     7          4     3
10510    Michael Jordan  0.986     0.174346     1          5    -4

In [38]:
all_predictions[all_predictions['Rank'] <= 5].sort_values('diff').head(10)

                 Player  Share  predictions  Rank  pred_rank  diff
1224         Jason Kidd  0.712     0.028210     2         52   -50
8248          Glen Rice  0.117     0.033110     5         53   -48
5175         Steve Nash  0.839     0.034100     1         45   -44
8516    Peja Stojaković  0.228     0.036270     4         38   -34
5193         Steve Nash  0.739     0.054129     1         34   -33
12726       Joakim Noah  0.258     0.046968     4         37   -33
3657   Chauncey Billups  0.344     0.052696     5         35   -30
1389         Chris Paul  0.138     0.072293     5         33   -28
5208         Steve Nash  0.785     0.074421     2         21   -19
4682       Tim Hardaway  0.207     0.059984     4         20   -16

In [39]:
pd.concat([pd.Series(reg.coef_), pd.Series(ind_vars)], axis=1).sort_values(0, ascending=False)

           0     1
13  0.070001  eFG%
18  0.035041   DRB
29  0.027125  W/L%
17  0.021610   ORB
10  0.016945    2P
21  0.011635   STL
15  0.011351   FTA
22  0.011234   BLK
20  0.007455   AST
25  0.005894   PTS
4   0.005694    FG
5   0.005517   FGA
7   0.004569    3P
12  0.004083   2P%
0   0.000321   Age
30  0.000270    GB
27  0.000098     W
1   0.000092     G
2  -0.000006    GS
26 -0.000184  Year
32 -0.000219  PA/G
28 -0.000295     L
33 -0.000521   SRS
31 -0.000556  PS/G
24 -0.002635    PF
3  -0.004150    MP
16 -0.004575   FT%
14 -0.006586    FT
23 -0.009696   TOV
9  -0.009822   3P%
8  -0.010395   3PA
11 -0.017319   2PA
19 -0.027506   TRB
6  -0.135024   FG%

In [40]:
ratio = data[['PTS', 'AST', 'STL', '3P', 'Year']].groupby('Year').apply(lambda x: x/x.mean())

In [41]:
ratio

            PTS       AST       STL        3P  Year
0      1.013334  0.420714  0.961127  0.508587   1.0
1      1.614653  1.028412  1.647646  4.577279   1.0
2      0.311795  0.093492  0.274608  0.000000   1.0
3      0.200440  0.186984  0.274608  0.000000   1.0
4      2.383005  1.636110  1.784950  1.525760   1.0
...         ...       ...       ...       ...   ...
14087  0.735752  0.819562  0.479763  0.650951   1.0
14088  0.071202  0.000000  0.000000  0.130190   1.0
14089  1.281633  0.601012  1.119447  0.520761   1.0
14090  0.474679  0.218550  0.319842  0.650951   1.0
14091  1.008693  0.655649  1.119447  2.343424   1.0

[14092 rows x 5 columns]

In [42]:
data[['PTS_R', 'AST_R', 'STL_R', '3P_R']] = ratio[['PTS', 'AST', 'STL', '3P']]

In [43]:
data.head()

,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,...,L,W/L%,GB,PS/G,PA/G,SRS,PTS_R,AST_R,STL_R,3P_R
0,A.C. Green,PF,27,LAL,82,21,26.4,3.1,6.6,0.476,...,24,0.707,5.0,106.3,99.6,6.73,1.013334,0.420714,0.961127,0.508587
1,Byron Scott,SG,29,LAL,82,82,32.1,6.1,12.8,0.477,...,24,0.707,5.0,106.3,99.6,6.73,1.614653,1.028412,1.647646,4.577279
2,Elden Campbell,PF,22,LAL,52,0,7.3,1.1,2.4,0.455,...,24,0.707,5.0,106.3,99.6,6.73,0.311795,0.093492,0.274608,0.000000
3,Irving Thomas,PF,25,LAL,26,0,4.2,0.7,1.9,0.340,...,24,0.707,5.0,106.3,99.6,6.73,0.200440,0.186984,0.274608,0.000000
4,James Worthy,SF,29,LAL,78,74,38.6,9.2,18.7,0.492,...,24,0.707,5.0,106.3,99.6,6.73,2.383005,1.636110,1.784950,1.525760

In [44]:
ind_vars += ['PTS_R', 'AST_R', 'STL_R', '3P_R']

In [45]:
mean_aps, aps, all_predictions = backtest(data, reg, years[5:], ind_vars)

In [46]:
mean_aps

0.7201166566702931

In [47]:
data.Pos.unique()

array(['PF', 'SG', 'SF', 'PG', 'C', 'PG-SG', 'PF-SF', 'SG-PG', 'PF-C',
       'SG-SF', 'SF-PF', 'SF-SG', 'C-PF', 'SG-PF', 'PG-SF', 'SF-C'],
      dtype=object)

In [48]:
data['NPos'] = data['Pos'].astype('category').cat.codes

In [49]:
data.Tm.unique()

array(['LAL', 'PHO', 'DAL', 'MIA', 'CLE', 'WSB', 'CHI', 'GSW', 'IND',
       'WAS', 'MIN', 'BOS', 'HOU', 'DEN', 'ORL', 'NOH', 'TOR', 'SAC',
       'CHO', 'POR', 'DET', 'PHI', 'UTA', 'MIL', 'VAN', 'SEA', 'NJN',
       'NOK', 'LAC', 'OKC', 'ATL', 'CHA', 'MEM', 'NYK', 'NOP', 'BRK',
       'SAS', 'CHH'], dtype=object)

In [50]:
data['NTm'] = data['Tm'].astype('category').cat.codes

In [51]:
data.head()

,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,...,GB,PS/G,PA/G,SRS,PTS_R,AST_R,STL_R,3P_R,NPos,NTm
0,A.C. Green,PF,27,LAL,82,21,26.4,3.1,6.6,0.476,...,5.0,106.3,99.6,6.73,1.013334,0.420714,0.961127,0.508587,2,15
1,Byron Scott,SG,29,LAL,82,82,32.1,6.1,12.8,0.477,...,5.0,106.3,99.6,6.73,1.614653,1.028412,1.647646,4.577279,12,15
2,Elden Campbell,PF,22,LAL,52,0,7.3,1.1,2.4,0.455,...,5.0,106.3,99.6,6.73,0.311795,0.093492,0.274608,0.000000,2,15
3,Irving Thomas,PF,25,LAL,26,0,4.2,0.7,1.9,0.340,...,5.0,106.3,99.6,6.73,0.200440,0.186984,0.274608,0.000000,2,15
4,James Worthy,SF,29,LAL,78,74,38.6,9.2,18.7,0.492,...,5.0,106.3,99.6,6.73,2.383005,1.636110,1.784950,1.525760,8,15

In [52]:
from sklearn.ensemble import RandomForestRegressor
rf = RandomForestRegressor(n_estimators=150, min_samples_split=5, random_state=1)

mean_aps, aps, all_predictions = backtest(data, rf, years[28:], ind_vars)

In [53]:
mean_aps

0.7233656006985966

In [54]:
mean_aps, aps, all_predictions = backtest(data, reg, years[28:], ind_vars)

In [55]:
mean_aps

0.7201166566702931